
 <!Doctype html>
 <html>
     <head>

     </head>
     <body>
     <h1>All Users</h1>
     <select>
        @foreach (var user in @Model)
        {
            <option>@user</option>
        }

     </select>
    
     </body>
 </html> 